@import url('https://fonts.googleapis.com/css?family=PT+Mono|Press+Start+2P');
:root {
    --white: #fdecce;
    --white-trans:  rgba(253, 236, 206, 0.650);
    --blackish-trans: rgba(14, 13, 13, 0.650);
    --blush: #0b021b;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Pt Mono", 'Courier New', Courier, monospace;
    font-size: 1.10em;
    background: url("https://res.cloudinary.com/f0rsakenc0der/image/upload/v1523173480/grunge_surface_stains_blots_18468_3840x2160.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

header {
    text-align: center;
    padding-top: 20px;
    background: var(--white-trans);
    border-bottom: black 2px solid;
}

header h1 {
    font-family: "Press Start 2P", 'Courier New', Courier, monospace;
    font-size: 2em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.425);
}

header p {
    font-size: 2em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.425);
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 10px auto;
    background: var(--blackish-trans);
    border: var(--white) 2px solid;

}

img {
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
}

#survey-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px 1fr));
    font-size: 1.7em;
    padding: 30px;
    grid-gap: 20px;
    color: var(--white);
    width: 100%;
    justify-content: center;
}

  label, legend {
     grid-column: 1 / 2;
     justify-self: start;
     align-self: auto;
     font-weight: 600;
     text-shadow: 2px 2px 4px #000000;
 }

 input, textarea {
     grid-column: 2/3;
     align-self: center;
     font-size: 1em;
     background: var(--white);
     font-weight: 540;
 }

 .checkbox {
     grid-column: 2/3;
     align-self: center;
     font-size: 1em;
     font-weight: 540;
     border: 2px solid var(--white);
     background: var(--blackish-trans);
     width: 80%;
     padding: 10px;
 }

 .radios {
    grid-column: 2/3;
    align-self: center;
    font-size: 1em;
    font-weight: 540;
    border: 2px solid var(--white);
    background: var(--blackish-trans);
    width: 80%;
    padding: 10px;
 }

 #name, #email, #pass {
    width: 60%;
    font-size: 0.9em;
    font-weight: 540;
}

 select {
    width: 35%;
    font-size: 0.9em;
    background: var(--white);
 }

 #number {
     width: 15%;
     font-size: 0.9em;
     background: var(--white);
     font-weight: 540;
     
 }

 .colors input {
     width: 16%;
     height: 40px;
     background: var(--white);
 }

 .colors input:hover {
     position: relative;
     top: 2px;
     opacity: 0.7;
 }

 textarea {
     width: 80%;
     height: auto;
     font-size: 1em;
 }

 input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin: 10px 15px 5px 10px;
}

 #submit-btn {
     grid-column: 1/3;
     text-align: center;
     font-size: 1em;
     margin: 1em auto;
     width: fit-content;
     padding: 15px;
     font-family: "Press Start 2P", 'Courier New', Courier, monospace;
     background: var(--white);
     border: 1px solid black;
     text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.425);
 }

 #submit-btn:hover {
     background: black;
     color: var(--white);
     position: relative;
     top: 2px;
     border: 1px solid var(--white);
 }

 footer {
     padding: 5px 0 5px 0;
     border-top: 2px solid black;
     text-align: center;
     background: var(--white-trans);
 }

 footer p {
     font-size: 1.2em;
     color: black;
     text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.425);
 }